.container {
   display: flex;
   justify-content: center;
   width: 85%;
   margin-left: auto;
   margin-right: auto;
}
@media (max-width: 770px) {
   .container {
      width: 100%;
   }
   .image {
      width: 100%;
   }
}
