.search {
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

.search input {
   margin: 0 auto;
}

.search ::placeholder {
   color: gray;
}

.city-name {
   text-align: center;
   font-size: 35px;
   padding: 20px;
   font-weight: bold;
}

/* Prevents horizontal scrolling in main page */
.app {
   max-width: 100%;
   overflow-x: hidden;

}
