.search {
   position: relative;
   top: 7px;
   left: 40%;
   margin: 0 auto;
   text-align: center;
   display: flex;
   font-size: small;
   /* width: 50px; */
}

.search input {
   margin: 0 auto;
   padding-left: 10px;
}

.search ::placeholder {
   color: gray;
}

.search .location {
   margin-left: -15px;
}

.search .start {
   padding-left: 20px;
}

.city-name {
   text-align: center;
   font-size: 35px;
   padding: 20px;
   font-weight: bold;
}

/* Prevents horizontal scrolling in main page */
.app {
   max-width: 100%;
   overflow-x: hidden;
}
