header, h1 {
  text-align: center;
  background-color:rgb(38, 99, 179);
  margin: 0;
  padding-bottom: 1%;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
h1 {
  position: relative;
  top: 10px;
}
