.search {
   width: 50%;
   margin: 0 auto;
   text-align: center;
}

.search input {
   margin: 0 auto;
}

.search ::placeholder {
   color: gray;
}

/* Prevents horizontal scrolling in main page */
.app {
   max-width: 100%;
   overflow-x: hidden;

}
